<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakes.tickerbar"
    android:versionCode="11"
    android:versionName="1.9.1">

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:label="TickerBar"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.Material">

        <activity android:name=".MainActivity" android:exported="true"
            android:theme="@style/Theme.TickerBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>

        <activity android:name=".OpenNotificationsActivity"
            android:exported="true"
            android:label="Open Notifications"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".OpenControlCentreActivity"
            android:exported="true"
            android:label="Open Control Centre"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".WalletLaunchActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name=".SearchActivity"
            android:exported="true"
            android:label="Google search"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay"/>

        <service android:name=".SearchTileService"
            android:exported="true"
            android:label="Google search"
            android:icon="@drawable/ic_search"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity android:name=".ShortcutActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"/>

        <activity-alias android:name=".NotificationsShortcut"
            android:targetActivity=".ShortcutActivity"
            android:exported="true"
            android:label="TickerBar: Notifications"
            android:icon="@drawable/ic_notif">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:name=".ControlCentreShortcut"
            android:targetActivity=".ShortcutActivity"
            android:exported="true"
            android:label="TickerBar: Control Centre"
            android:icon="@drawable/ic_cc">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:name=".SearchShortcut"
            android:targetActivity=".ShortcutActivity"
            android:exported="true"
            android:label="TickerBar: Google search"
            android:icon="@drawable/ic_search">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <service
            android:name=".TickerListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <!-- name must not change: it keys the user's Accessibility grant -->
        <service
            android:name=".ShadeService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <receiver android:name=".InstallReceiver" android:exported="false"/>
    </application>
</manifest>
